/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    flex-direction: column;
    display: flex;
    width: 100%;
}

header {
    background: #2c2c2c;
    background-image: url("assets/grid-header.svg");
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    align-items: center;
    position: relative;
    color: #fdfbf9;
    display: flex;
    height: 318px;
    width: 100%;
}

.logo {
    position: absolute;
    height: 60px;
    left: 30px;
    top: 30px;
}

h1 {
    font-weight: 600;
    font-size: 50px;
}

h2 {
    font-family: "Roboto Slab", serif;
    margin-left: 30px;
    color: #f65097;
    font-weight: 600;
    font-size: 50px;
}

.container-title {
    align-items: center;
    margin: 70px 0;
    display: flex;
}

.el-pink {
    background: #f65097;
    width: 132px;
    height: 80px;
}

.hr-default {
    transform: translatex(-75px);
    background: #2c2c2c;
    border-radius: 5px;
    margin: 18px 0;
    border: none;
    width: 100%;
    height: 1px;
}

.chegada {
    position: relative;
    margin-top: 15px;
    height: 75px;
}


.data {
    display: flex;
    justify-content: space-between;
}

.teste {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: pink;
}

.button-file {
    background: none;
    border: none;
    cursor: pointer;
}

.button-file:hover {
    transition: .2s;
    opacity: .7;
}

.hr-blue,
.hr-orange {
    position: absolute;
    border-radius: 5px;
    border-style: none;
    margin: 10px 0;
    height: 6px;
    width: 60vw;
    min-width: 600px;
}

.hr-gray {
    height: 1px;
    width: 100%;
    background: #E8E6E5;
    border: none;
}

.hr-blue {
    background: #448dff;
    left: -100px;
}

.hr-orange {
    right: -80px;
    background: #f58340;
}

.date-hour {
    display: flex;
}

.container-date-hour {
    display: flex;
    margin-right: 40px;
}

.container-date-hour p {
    font-family: "Roboto Slab", serif;
    margin-left: 15px;
    font-size: 25px;
}

.infos {
    padding-left: 75px;
    width: 500px;
}

.infos-left {
    justify-content: flex-end;
    flex-direction: column;
    /* padding-right: 75px; */
    padding-left: 0;
    display: flex;
}

.info-blue {
    border-width: 0 0 0 132px;
    border-color: #448dff;
    border-style: solid;
}

.info-orange {
    border-width: 0 132px 0 0;
    border-color: #f58340;
    border-style: solid;
}

.amvs {
    flex-direction: column;
    display: flex;
}

.amvs div {
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.amvs div p {
    font-weight: 400;
    margin-left: 10px;
}


.container {
    align-items: center;
    color: #2c2c2c;
    display: flex;
    width: 100%;
}

ol {
    padding-right: 100px;
    margin: 0 0 0 35px;
}

ol li {
    font-weight: 400px;
    font-size: 20px;
    margin: 10px 0;
}


.left {
    justify-content: flex-start;
    flex-direction: row-reverse;
    display: flex;
}

.left .hr-default {
    transform: translatex(0px);
    margin-right: 0;
}

.container-moviments {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
}

.arrive {
    display: flex;
    align-items: center;
    font-family: "Roboto Slab", serif;
    color: #2c2c2c;
    font-weight: 600;
    width: max-content;
    font-size: 35px;
}

.video {
    padding: 10px 15px;
    color: #fdfbf9;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background: #0567FF;
    margin-left: 30px;
    cursor: pointer;
    transition: .2s;

}

.video:hover {
    background: #448dff;
    transition: .2s;
}

/*  */

footer {
    background: #2c2c2c;
    background-image: url("assets/grid.svg");
    background-repeat: no-repeat;
    justify-content: center;
    background-size: cover;
    align-items: center;
    margin-top: 100px;
    color: #fdfbf9;
    font-weight: 400;
    font-size: 25px;
    display: flex;
    height: 241px;
    width: 100%;
}